<div ui-content-for="title">
    <span>UIA Timeplan</span>
</div>

<div class="scrollable" ui-state="searchBar">

    <!--<div ng-if="Ui.active('searchBar')">-->



    <div class="col-lg-6 no-padding" >
        <button ng-click="type = 'studentsets'" class="btn btn-lg form-control flat" style="height: 46px;"><p>Courses</p></button>
    </div>

    <div class="col-lg-6 no-padding" >
        <button ng-click="type = 'modules'" class="btn btn-lg form-control flat" style="height: 46px;"><p>Topic</p></button>
    </div>

    <div class="col-lg-1 no-padding">
        <select ng-options="year for year in years" class="form-control" style="height:46px;" ng-model="year"></select>
    </div>

    <div class="col-lg-1 no-padding">
        <select ng-options="item as item.name for item in semesters track by item.id" class="form-control" style="height:46px;" ng-model="semester"></select>
    </div>


    <div class="col-lg-10 no-padding">
        <input type="text" ng-model="search" placeholder="Search..." class="form-control input-lg flat">
    </div>
    <!-- </div> -->

    <div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
        <div class="list-group">
            <a ng-repeat="course in courses | filter: {name: search, year: year, season: semester.value} | filter:{ type: type }"
               href="#/course/{{course.id}}"
               class="list-group-item">
                {{course.name}} <i class="fa fa-chevron-right pull-right"></i>
            </a>
        </div>
    </div>

    <!-- <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle='searchBar'>
         <i class="fa fa-search"></i>
         <span ui-hide="searchBar">Show</span>
         <span ui-show="searchBar">Hide</span>
         Filtering Bar
     </a> -->
</div>





